* {
  box-sizing: border-box;
}

body {
    background: #7dcfff;
}

/* main */
  main {
    width:60%;
    margin: auto;
    padding: 1em 2em;
    border-radius: 1%;
    font-size: 1.1em;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100%;
    background-color: #0C4160;
    padding: 30px 10px;
}

.card {
    max-width: 500px;
    margin: auto;
    color: #7dcfff;
    border-radius: 20 px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.col-12, .col-6 {
  margin: 10px;
}

.btn.btn-primary {
    margin-top: 10%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    color: white;
    background-color: #fab8ff;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: white;
    background-color: #79CBCA;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}
  
  /*
  For phones and similar media
  */
  @media (max-width:768px) {
  main { width: 90%; }
  h1 { font-size: 26px; }
  #description { font-size: 16px; }
  article { padding: 2em 5%;
    border-radius: 30px; }
  #cats { width: 10%; }
  #birds { width: 10%; left: 0; }
}
  