body {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 100px 1fr 30px;
    gap: 4px;
}

/* main */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section {
    margin: 0 6px;
    padding: 0 6px;
}
section > p {
    box-sizing: border-box;
    padding: 4px;
}
section img {
    display: block;
    margin: auto;
    width: 100%;
}


/* responsive site laptops and tablets*/
@media screen and (max-width: 1024px) {
    body {
        grid-template-rows: 80px 100px auto 30px;
    }
    section > p {
        height: fit-content;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
}

/* responsive site phones and small tablets */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        height: 28px;
    }   
}