/* usvoji */
body {
    display: grid;
    height: 100%;
    grid-template-areas: 
        "header"
        "heading"
        "main"
        "footer";
    grid-template-rows: 80px 100px 1fr auto 30px;
    grid-template-columns: auto;
    align-content: space-between;
    gap: 4px;
}

/* pictures */
.pictures {
    width: 80%;
    justify-self: center;
    height: auto;
    margin-top: 6px;
    margin-bottom: 3rem;
}

.carousel-item img {
    max-height: 700px;
    min-height:  250px;
    width: 100%;
}

.usvoji {
    justify-self: center;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.usvoji img {
    height: 250px;
    max-width: 300px;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}


@media (max-width: 425px) {
    .usvoji {
        width: 100%;
    }
    .pictures {
        width: 100%;
    }
}
  @media screen and (min-width:300px) and (max-width: 768px) {
    .usvoji  {
      margin-bottom: 4rem;
    }   
  }
  @media screen and (min-width:300px) and (max-width:425px) {
    .usvoji  {
      margin-bottom: 9.5rem;
    }   
  }