* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 70px 1fr 30px;
    align-content: space-between;
    gap: 4px;
}


/* main */
main {
    display: flex;
    flex: 1 1 auto;
}
section {
    margin: 0 6px;
    padding: 0 6px;
    display: flex;
    flex-direction: row;
}
section > p {
    box-sizing: border-box;
    padding: 12px;
    height: 200px;
}
section img {
    display: block;
    margin: auto;
    width: 100%;
}


/* responsive site laptops and tablets*/
@media screen and (max-width: 1024px) {
    body {
        grid-template-rows: minmax(100px 1fr) minmax(60px 1fr) auto minmax(30px 1fr);
    }
    nav {
        width: 50%;
    }  
    nav a {
        font-size: 1rem;
        padding: 12px;
    }
    section > p {
        height: fit-content;
    }
}

/* responsive site phones and small tablets */
@media screen and (max-width: 768px) {
 
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    nav a {
        font-size: 1rem;
        padding: 6px;
    }
    h1 {
        font-size: 24px;
        height: 28px;
    }
    main {
        flex-wrap: wrap;
    }
    section {
        margin-bottom: 6px;
    }
}

